* {
    box-sizing: border-box;
}

body {
    background-color: hsl(30, 38%, 92%);
    font-family: 'Monserrat', sans-serif;
}

.product-container {
    background-color: white;
    border-radius: 20px;
    width: 80%;
    margin: 50px auto;
}

.mobile-img {
    width: 100%;
    border-radius: 20px 20px 0 0;
}

.desktop-img {
    display: none;
}

.product-contents-container {
    padding: 30px 65px;
}

.product-header {
    font-size: small;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: hsl(228, 12%, 48%);
}

.product-title {
    font-family: 'Fraunces';
    font-size: 4rem;
}

.product-description {
    color: hsl(228, 12%, 48%);
    line-height: 3rem;
    font-size: 2rem;
}

.current-price {
    font-family: 'Fraunces';
    font-size: 4rem;
    color: hsl(158, 36%, 37%);
    padding: 20px 0;
}

.original-price {
    text-decoration: line-through;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    color: hsl(228, 12%, 48%);
}

.shopping-cart-icon {
    padding: 0 5px;
    vertical-align: bottom;
    width: 3rem;
}

.product-cart-button {
    background-color: hsl(158, 36%, 37%);
    width: 100%;
    padding: 30px 20px;
    color: white;
    border-radius: 20px;
    border-style: none;
    font-weight: 700;
    margin: 18px 0;
    cursor: pointer;
    font-size: 2rem;
}

.product-cart-button:hover {
    background-color: hsl(212, 21%, 14%);
}

@media screen and (min-width: 1440px) {
    .product-container {
        display: flex;
        max-width: 55%;
    }

    /* images */
    .mobile-img {
        display: none;
    }

    .desktop-img {
        display: flex;
        border-radius: 20px 0 0 20px;
        object-fit: cover;
        width: 50%;
        /* unsure */
    }

    /* product text */
    .product-contents-container {
        align-self: center;
        padding: 50px;
    }

    .product-header {
        font-size: 25px;
    }

    .product-title {
        font-size: 55px;
    }

    .product-description {
        font-size: 30px;
        line-height: 3rem;
    }

    .current-price {
        font-size: 60px;
        padding: 30px 0;
    }

    .original-price {
        font-size: 2rem;
    }

    .shopping-cart-icon {
        width: 2.5rem;
    }

    .product-cart-button {
        padding: 30px 0;
        font-size: 30px;
    }
}